<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibes.androidsdkexampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="vibes_app_id"
            android:value="${vibesAppId}" />

        <meta-data
            android:name="vibes_api_url"
            android:value="${vibesApiUrl}" />

        <activity android:name=".activities.DeepLinkActivity"
            android:exported="false">
            <intent-filter>
                <!-- use these configs below as an example to open a deep-linked activity on tapping the push notification  -->
                <action android:name="com.vibes.action.push.OPENED" />
                <category android:name="${applicationId}" />
                <data android:scheme="vibes" android:host="ecommerce" android:path="/order" />
            </intent-filter>
        </activity>

        <service android:name=".services.FMS"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notification.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <category android:name="${applicationId}" />

                <action android:name="com.vibes.action.push.OPENED" />
                <action android:name="com.vibes.action.push.DISMISSED" />
                <action android:name="com.vibes.action.push.RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>